body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #216b70a4;
    padding: 20px;
}


h1 {
    color: #f1e3e3;
}

button {
    background-color: #61b4b9;
    color: rgb(10, 7, 7);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

#pregunta-container {
    background: rgba(28, 95, 150, 0.692);
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.opcion {
    
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
}
#resultado {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.correcto {
    background-color: green !important;
    color: rgb(75, 216, 19);
}

.incorrecto {
    background-color: red !important;
    color: rgb(126, 5, 5);
}
footer {
    position: fixed; /* Fija el footer en la parte inferior */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:#3779cf; /* Azul con transparencia */
    color: white;
    text-align: center;
    padding: 5px 10px;
    font-size: 14px; /* Reduce el tamaño del texto */
    height: auto; /* Ajusta la altura automáticamente */
}
